<?xml version="1.0" encoding="utf-8"?>
<!-- Components come from garden-common; this edition adds only its identity. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/application_terminal"/>
</manifest>
